@import 'src/styles/variables';
@import '@minterest-finance/ui-kit/dist/styles/variables';

.overlay {
    position: absolute;
    background: #00000099;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    text-align: center;
    h3 {
        color: #fff;
        font-size: 40px;
        @include breakpoint(md) {
            font-size: 32px;
            max-width: 400px;
        }
        @include breakpoint(sm) {
            font-size: 24px;
        }
    }
}
.hidden {
    display: none;
}

h2.mainTitle,
h3.mainTitle {
    font-size: 20px;
    @include breakpoint(sm) {
        margin-top: 24px;
    }
}
.nftBlockContainer {
    width: 100%;

    .leftBlock {
        flex-shrink: 0;

        @include breakpoint(sm) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .rightBlock {
        margin-left: 32px;
        flex-grow: 1;

        @include breakpoint(md) {
            margin-left: 24px;
        }
        @include breakpoint(sm) {
            margin-left: 0;
        }
    }

    @include breakpoint(sm) {
        height: unset;
    }
    .content {
        display: flex;
        width: 100%;
        @include breakpoint(sm) {
            flex-direction: column;
            align-items: center;
        }
        .imgContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 24px;
        }

        .btnBlock {
            display: flex;
            justify-content: space-between;
            flex-basis: 100%;
            align-items: flex-end;
            &.hasNFT {
                align-items: center;
            }
            margin-top: 32px;

            @include breakpoint(md, sm) {
                margin-top: 24px;
            }
        }
        .data {
            display: flex;
            gap: 24px;
            flex-direction: column;
            width: 100%;

            &.hasNFT {
                flex-direction: row;
                flex-wrap: wrap;
            }
            .noNFTBtns {
                max-width: 158px;
            }

            .linkContainer {
                margin-bottom: 32px;
                &.hasNFT {
                    margin-bottom: 0;
                }
                @include breakpoint(sm) {
                    margin-bottom: 0;
                }
                .openSeaBtn {
                    color: #222a34;
                    &.hasNFT {
                        margin: 0;
                    }
                }
            }
        }
        .ntfImage {
            border-radius: 24px;
        }
        .linkContainer {
            display: flex;
            align-items: center;
            path {
                fill: #222a34;
            }
        }
    }
}

.paginationContainer {
    margin-top: 24px;
    @include breakpoint(md) {
        margin-top: 16px;
    }
}

.notActiveNFT {
    position: absolute;
    background: #00000099;
    inset: 0;
    z-index: 1;
    border-radius: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;

    h3 {
        margin-bottom: 40px;
        color: #fcfdff;
        font-size: 40px;
        @include breakpoint(md) {
            font-size: 32px;
        }
        @include breakpoint(sm) {
            font-size: 24px;
            margin-bottom: 30px;
        }
    }
}
