@import 'src/styles/variables';
@import '@minterest-finance/ui-kit/dist/styles/variables';

.root {
    max-width: $maxWidthContainer;
    width: $maxWidthContainer;
    margin: 0px auto;
    padding: 68px 0 109px;

    @include breakpoint(md) {
        max-width: 612px;
        padding: 50px 0 77px;
    }

    @include breakpoint(sm) {
        max-width: 320px;
        min-width: 320px;
        padding: 35px 0 41px;
    }
}

.title {
    font-family: 'Ubuntu Bold';
    color: $minterestTypeDark;
    margin-bottom: 56px;
    text-transform: capitalize;
    font-size: 48px;
    line-height: 56px;

    @include breakpoint(md) {
        margin-bottom: 36px;
    }

    @include breakpoint(sm) {
        margin-bottom: 14px;
        font-size: 28px;
    }
}

.container {
    background-color: $minterestWhite;
    border: 1px solid $minterestDark8;
    border-radius: 12px;
    border-spacing: 0;
    padding: 50px 54px 75px;

    @include breakpoint(md) {
        padding: 32px 30px 46px;
    }

    @include breakpoint(sm) {
        padding: 22px 24px 65px;
    }
}

.section {
    & + & {
        padding-top: 36px;

        @include breakpoint(md) {
            padding-top: 24px;
        }

        @include breakpoint(sm) {
            padding-top: 20px;
        }
    }

    &Title {
        font-family: 'Ubuntu Bold';
        font-size: 20px;
        color: $minterestTypeDark;
        line-height: 48px;
        margin-bottom: 8px;

        @include breakpoint(md) {
            margin-bottom: 4px;
        }

        @include breakpoint(sm) {
            margin-bottom: 1px;
            font-size: 16px;
        }
    }

    &Text {
        white-space: pre-wrap;
        line-height: 145%;
        font-size: 16px;
        font-family: 'Ubuntu Regular';
        color: $minterestTypeLight;

        @include breakpoint(sm) {
            font-size: 12px;
        }
    }
}

.baseText {
    color: #595d6c !important;
}

.link {
    color: #0d1319 !important;
}

.warn {
    color: #dc1115 !important;
}

.justify {
    text-align: justify;
}

.list {
    margin-left: 15px;

    li {
        text-align: justify;
        color: #595d6c;
        font-family: 'Saira';
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;

        @include breakpoint(sm, md) {
            line-height: 1.43;
        }
    }
}

.nestedList {
    counter-reset: item;

    .ni {
        display: block;
        position: relative;

        &::before {
            content: counters(item, '.') '.';
            counter-increment: item;
            position: absolute;
            margin-right: 100%;
            right: 10px;
            /* space between number and text */
        }
    }

    .da {
        display: block;
        position: relative;

        &::before {
            content: '(' counter(item, lower-latin) counter(item, lower-latin) ')';
            counter-increment: item;
            position: absolute;
            margin-right: 100%;
            right: 10px;
            /* space between number and text */
        }
    }
}

.ml30 {
    margin-left: 30px;
}
