.button {
    border-bottom: 1px solid transparent !important;

    .content {
        padding: 8px 16px;
        align-items: center;
        color: #fcfdff;

        > svg > path {
            fill: #fcfdff;
        }
    }


}

.buttonTaiko {
    &:hover {
        border-bottom: 1px solid #980765 !important;
    }
}

.buttonEthereum {
    &:hover {
        border-bottom: 1px solid #079498 !important;
    }
}

.icon {
    fill: #a3a7b6;
}

.openMenuTabletAndMobile {
    background: #2e343a;
    margin-right: 24px;
    margin-left: 24px;
    border: 1px solid rgba(202, 208, 214, 0.08);
    border-bottom: 2px solid rgba(202, 208, 214, 0.08);
    padding-top: 16px;
    padding-bottom: 16px;
}

.tabletAndMobileButtonWrapper {
    justify-content: center;
    margin-top: 24px;
}

.openMenuMoreButton {
    border-bottom: 1px solid #079498 !important;
}

.openMenuMoreButtonTaiko {
    border-bottom: 1px solid #980765 !important;
}
.openMenuIcon {
    fill: #fcfdff;
}
