.wrapper {
    width: 100%;
    background: #21272d;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.56), inset 0px 0.5px 0px rgba(255, 255, 255, 0.25);
    border-radius: 4px;
    display: grid;
    justify-items: center;
    align-items: center;

    .statsWingDashboard {
        width: 1056px;
        grid-area: 1/1/1/4;
        top: 7px;
        position: relative;
    }

    &.desktop {
        width: 1056px;
        box-shadow: none;
        background: none;
    }

    &.withoutButtons {
        border-radius: 300px 4px 4px 300px;
    }

    &.withButtons {
        & .circleWrapper {
            position: static;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.circleWrapper {
    position: relative;

    &.mobile {
        grid-area: 1/1/3/2;
    }

    .netApyButton {
        .count {
            height: 100%;
            color: #fcfdff;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
    }

    .netApyButtonOff {
        .flexToAlign {
            display: flex;
            justify-content: center;
            .count {
                color: #ffffff;
                text-transform: uppercase;
                height: 100%;
                max-width: min-content;
                text-align: center;
            }
        }
    }

    .netApyButtonNotActiveMobile {
        .flexToAlign {
            display: flex;
            justify-content: center;
            height: 100%;
            .count {
                color: #fcfdff;
                max-width: 63px;
                text-align: center;
                display: flex;
                align-items: center;
            }
        }
    }
}

.textBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index: 1;

    &.supplyMobile {
        justify-content: flex-start;

        .textWithPrefix {
            margin-top: 0;
        }

        .textWithPrefixLoader {
            margin-top: 2px;
            height: 24px;
        }
    }

    &.borrowMobile {
        justify-content: flex-end;

        .textWithPrefix {
            margin-top: 0;
        }

        .textWithPrefixLoader {
            margin-top: 2px;
            height: 24px;
        }
    }

    .title {
        color: #a3a7b6;
    }

    .titleLoader {
        width: 100px;
        height: 20px;
    }

    .textWithPrefixLoader {
        margin-top: 4px;
        height: 32px;
    }

    .textWithPrefix {
        display: flex;
        margin-top: 4px;
        justify-content: center;
        align-items: center;

        .prefix {
            color: #a3a7b6;
            margin: 4px 4px 0;
        }
        .value {
            color: rgba(252, 253, 255, 1);
        }
    }
}

.buttonWrapper {
    margin-top: 8px;
}
