@import 'src/styles/variables.scss';

.questRowContainer{
  &:hover{
      background: rgba(0, 0, 0, 0.04);
      cursor: pointer;
  }
}
.questRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkIconEthereum {
  path {
    fill: #04797F;
  }
}
.linkIconTaiko {
  path {
    fill: #E91898;
  }
}

.noRowsOverlay {
  background: #f4f5f9;
  border: 1px solid rgba(83, 110, 135, 0.08);
  border-radius: 2px;
  padding: 8px 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .warningIcon {
      min-width: 20px;
      min-height: 20px;
  }

  .text {
      margin-left: 8px;
  }
}

.questsRows{
  overflow: scroll;
}