@import 'src/styles/variables';
@import '@minterest-finance/ui-kit/dist/styles/variables';

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 235px 0 0 0;
    min-height: calc(100vh - $headerHeight);

    @include breakpoint(md) {
        padding: 20% 40px 0 40px;
    }

    @include breakpoint(sm) {
        padding: 60px 16px 0 16px;
    }

    .title {
        color: #fcfdff;
        max-width: 720px;
        text-align: center;
    }

    .description {
        max-width: 419px;
        color: #a3a7b6;
        margin: 32px 0 40px 0;
        text-align: center;
    }
}
