@import 'src/styles/variables';
@import '@minterest-finance/ui-kit/dist/styles/variables';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 235px 0 0 0;
    min-height: 100vh;

    @include breakpoint(md) {
        padding: 20% 40px 0 40px;
    }

    @include breakpoint(sm) {
        padding: 60px 16px 0 16px;
    }

    .title {
        color: #fcfdff;
        text-align: center;
        max-width: 719px;
    }

    .message {
        color: #a3a7b6;
        max-width: 419px;
        margin: 32px 0 40px 0;
        text-align: center;
        word-break: break-word;
    }
}
