@import 'src/styles/variables.scss';
.backgroundLayout {
    @media (min-width: 2561px) {
        background-size: auto 100vw !important;
        background-position: center -73vw !important;
        //MIN HEIGHT FOR MARKET OVERVIEW PAGE
        //NEED FOR NORMAL BACKGROUND VIEW FOR 2560+
        //100vh - menuHeight - popupHeight
        min-height: calc(100vh - $popupHeight - $headerHeight);
    }
}
