@import '@minterest-finance/ui-kit/dist/styles/variables';

.placeholderMargin {
    max-width: 100%;
}
.chart {
    height: 486px;
    @include breakpoint(md) {
        height: 391px;
    }
    @include breakpoint(sm) {
        height: 359px;
    }
}
