@import 'src/styles/variables';
@import '@minterest-finance/ui-kit/dist/styles/variables';

.container {
    margin: 0 auto;
    max-width: 2560px;
    .info_block {
        margin-top: 104px;
        margin-bottom: 77px;
        @include breakpoint(md) {
            margin-top: 65px;
            margin-bottom: 73px;
        }
        @include breakpoint(sm) {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }

    .audit_block {
        margin-bottom: 160px;
        @include breakpoint(md) {
            margin-bottom: 100px;
        }
        @include breakpoint(sm) {
            margin-bottom: 0;
        }
    }

    .security_block {
        margin-bottom: 107px;
    }

    .testblock {
        height: 400px;
        background: #0d1319;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
